---
import { Button } from "@/components/ui/button";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Victoory bracket</title>
  </head>
  <body>
    <h1>Wellcome to Victory bracket</h1>
    <Button
      ><a href="/create_new_game">Create a new game</a
      ></Button
    >
  </body>
</html>
